{% load static %}

<style>

  .container {
    padding: 0;
    margin: 0, auto;
  }

  .container a {
    width: 45%;
    max-width: 250px;
  }

  .container div {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 1rem;
  }

  .container img {
    width: 100%;
    border-radius: 1rem;
  }
</style>

  {% if main_list %}
  <div class="container">
    {% for main in main_list %}
    <a href="{% url 'mainapp:detail' pk=main.pk %}">
      {% include 'snippets/card.html' with main=main %}
    </a>
    {% endfor %}
  </div>
  <script src="{% static 'js/magicgrid.js' %}"></script>
  {% else %}
  <div style="text-align: center">
    <h1>No Articles YET!</h1>
  </div>
  {% endif %}

  {% include 'snippets/pagination.html' with page_obj=page_obj %}

  </div>
